html, body, .content {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-image: url("bg.jpg");
  background-size: cover;
}

.content {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
